<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.sogeti.rental.ui.Rental"
            name="Rental">
      </category>
      <view
            category="com.sogeti.rental.ui.Rental"
            class="com.sogeti.rental.ui.views.RentalPropertyView"
            id="com.sogeti.rental.ui.rentalPropertyView"
            name="Rental Property"
            restorable="true">
      </view>
      <view
            category="com.sogeti.rental.ui.Rental"
            class="com.sogeti.rental.ui.views.RentalAgencyView"
            icon="icons/Agency.png"
            id="com.sogeti.rental.ui.RentalAgencyView"
            name="Agency"
            restorable="true">
      </view>
      <view
            category="com.sogeti.rental.ui.Rental"
            class="com.sogeti.rental.ui.views.RentalCustomerView"
            id="com.sogeti.rental.ui.views.CustomerView"
            name="CustomerView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.sogeti.rental.ui.perspectives.RentalPerspective"
            icon="icons/Rentals.png"
            id="com.sogeti.rental.ui.perspectives.RentalPerspective"
            name="Rental">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.sogeti.rental.ui.prefs.RentalColorPreferencePage"
            id="com.sogeti.rental.ui.prefs.RentalPreferencePages"
            name="Colors">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.sogeti.rental.ui.prefs.RentalInitPref">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.sogeti.rental.ui.handlers.SampleHandler"
            commandId="com.sogeti.rental.ui.commands.sampleCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.sogeti.rental.ui.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="com.sogeti.rental.ui.menus.sampleMenu"
               label="Sample Menu"
               mnemonic="M">
            <command
                  commandId="com.sogeti.rental.ui.commands.sampleCommand"
                  id="com.sogeti.rental.ui.menus.sampleCommand"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.sogeti.rental.ui.toolbars.sampleToolbar">
            <command
                  commandId="com.sogeti.rental.ui.commands.sampleCommand"
                  icon="icons/sample.gif"
                  id="com.sogeti.rental.ui.toolbars.sampleCommand"
                  tooltip="Say hello world">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.views.ResourceNavigator?after=additions">
         <command
               commandId="com.sogeti.rental.ui.commands.sampleCommand"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="com.sogeti.rental.ui.menuContribution3">
         <command
               commandId="com.sogeti.rental.ui.commands.sampleCommand"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.sogeti.rental.ui.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="com.sogeti.rental.ui.commands.category"
            defaultHandler="com.sogeti.rental.ui.handlers.SampleHandler"
            id="com.sogeti.rental.ui.commands.sampleCommand"
            name="RentalSampleCommand">
      </command>
   </extension>

</plugin>
