<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.sogeti.rental.ui.Rental"
            name="Rental">
      </category>
      <view
            category="com.sogeti.rental.ui.Rental"
            class="com.sogeti.rental.ui.views.RentalPropertyView"
            id="com.sogeti.rental.ui.rentalPropertyView"
            name="Rental Property"
            restorable="true">
      </view>
      <view
            category="com.sogeti.rental.ui.Rental"
            class="com.sogeti.rental.ui.views.RentalAgencyView"
            icon="icons/Agency.png"
            id="com.sogeti.rental.ui.RentalAgencyView"
            name="Agency"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.sogeti.rental.ui.perspectives.RentalPerspective"
            icon="icons/Rentals.png"
            id="com.sogeti.rental.ui.perspectives.RentalPerspective"
            name="Rental">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.sogeti.rental.ui.prefs.RentalColorPreferencePage"
            id="com.sogeti.rental.ui.prefs.RentalPreferencePages"
            name="Colors">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.sogeti.rental.ui.prefs.RentalInitPref">
      </initializer>
   </extension>

</plugin>
